<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Магазин холодного оружия
        {% endblock %}
    </title>
</head>
<body>
<header class="header">
    <section class="navi_menu">
        <span class="logo">Магазин Оружия</span>
        <a href="/">Главная</a>
        <a href="/cold-steel/">Холодное оружие</a>
    </section>
</header>
<main class="main">
    {% block content %}
        <h1>Добро пожаловать в Магазин оружия</h1>
    {% endblock %}
</main>

<footer class="footer">
    <p>   &copy;Все права защищены </p>
</footer>

</body>
</html>