<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}
        <h1> Интересные новости </h1>
        {% for new in news %}
            <h2>{{ new.title }}</h2>
            <p>{{ new.description }}</p>
            <p>{{ new.data_published }}</p>
        {% endfor %}

    {% endblock %}
</body>
</html>